.container {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    transition: all .25s ease 0s;

    .item {
        border-radius: 1rem;
    }

    @function setCol($args) {
        $n: floor($args);
        @if ($n) % 3 == 1 {
            @return 2fr 1fr 1fr;
        }
        @else if ($n) % 3 == 2 {
            @return 1fr 2fr 1fr;
        }
        @else {
            @return 1fr 1fr 2fr;
        }
    }
    @function setRow($args) {
        $n: floor($args);
        @if calc($n / 3) <= 1 {
            @return 2fr 1fr 1fr;
        }
        @else if calc($n / 3) <= 2 {
            @return 1fr 2fr 1fr;
        }
        @else {
            @return 1fr 1fr 2fr;
        }
    }

    @for $i from 1 through 9 {
        .item:nth-child(#{$i}) {
            background-color: hsl(40deg * $i, 100%, 85%);
        }

        &:has( .item:nth-child(#{$i}):hover ) {
            grid-template-columns: setCol($i);
            grid-template-rows: setRow($i);
        }
    }
}