.outest {
    width: 600px;
    height: 400px;
    border: 2px rgb(115, 170, 243) solid;
    border-radius: 5px;
    padding: 0px;
    position: relative;
    overflow: hidden;
    background-color: bisque;

    /** 轮播图片设置 */
    ul{
        margin: 0px;
        padding: 0px;
        height: 100%;

        li{
            height: 100%;
            list-style: none;
            float: left;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .ul-transition{
        transition: transform 500ms linear 0s;
    }
    /* 左右图标设置 */
    .icon {
        width: 30px;
        height: 60px;
        position: absolute;
        top: 170px;
        z-index: 2;
        opacity: 0.5;
        
        &:hover{
            cursor: pointer;
        }
    }
    ._left {
        left: 0px;
    }
    ._right {
        right: 0px;
    }

    /* 底部小圆圈的设置 */
    .mydiv {
        width: auto;
        height: 30px;
        display: inline-block;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, -10px);
        z-index: 5;

        .def{
            display: inline-block;
            height: 10px;
            border: 2px solid #999;
            z-index: 5;
            margin: auto 4px;
            opacity: 0.5;

            &:hover{
                cursor: pointer;
            }
        }
        .cicle{
            width: 10px;
            border-radius: 50%;
            background-color: #999;
        }
        .square{
            width: 25px;
            border-radius: 2px;
            background-color: #999;
        }
    }
}

